<nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">
                    <i class="fas fa-home fa-3x"></i>
            </a>
          </div>
        </div>
      </nav>