<header class="border-bt-grey " id="top">
<nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand bg-grey rounded-circle p-3  mt-4" href="/voitures">
                    <i class="fas fa-home fa-3x color-dred "></i>
            </a>
            <a class="navbar-brand bg-grey rounded-circle p-3  mt-4 ml-auto" href="/users/logout">
              <i class="fas fa-sign-out-alt fa-3x color-dred "></i>
            </a>
          </div>
        </div>
      </nav>
    </header>