<% include ../../partials/head.ejs %>
<% include ../../partials/header.ejs %>
<div class="container-fluid bg-dark p-5">
    <div class="container bg-light border-top-red p-5 ">
    <a href="/voitures/admin"  class="btn btn-dark my-3">Accueil administration</a>
    <form action="/voitures/admin/save" method="POST" class="needs-validation p-5" novalidate >
       <div class="form-group mt-2">
       <h1 for="">Ajouter une voiture</h1>
       <div class="form-row">
         <div class="form-group col-md-6">
           <label for="marque">Marque</label>
           <input type="text" class="form-control mt-2" name="marque" id="marque" aria-describedby="" placeholder="Ford" required >
           <div class="invalid-feedback">
            ajouter la marque
          </div>
         </div>
         <div class="form-group col-md-6">
           <label for="modele">Modèle</label>
           <input type="text" class="form-control mt-2" name="modele" id="modele" aria-describedby="" placeholder="Fiesta" required >
           <div class="invalid-feedback">
            ajouter le modèle
          </div>
         </div>
       </div>
       <div class="form-group">
         <label for="image">URL de l'image</label>
         <input type="text" class="form-control mt-2" name="image" id="image" aria-describedby="" placeholder="http://..." required  >
         <div class="invalid-feedback">
          ajouter l'URL de l'image
        </div>
       </div>
       <div class="form-group">
         <label for="puissance">Puissance</label>
         <input type="text" class="form-control mt-2" name="puissance" id="puissance"  min="1" max="15" aria-describedby="" placeholder="5CV" required  >
         <div class="invalid-feedback">
          ajouter la puissance
        </div>
       </div>
       <div class="form-group">
         <label for="motorisation">Motorisation</label>
         <select class="form-control mt-2" name="motorisation"  id="motorisation">
           <option value="Diesel">Diesel</option>
           <option value="Essence">Essence</option>
           <option value="Hybride">Hybride</option>
           <option value="Electrique">Electrique</option>
         </select>
       </div>
       <div class="form-row">
         <div class="form-group col-md-6">
           <label for="prix">Prix</label>
           <input type="number" class="form-control mt-2" name="prix" id="prix" step="100"  aria-describedby="" placeholder="1000" required  >
           <div class="invalid-feedback">
            ajouter le nombre de le prix
          </div>
         </div>
         <div class="form-group col-md-6">
           <label for="couleur">Couleur</label>
           <input type="text" class="form-control mt-2" name="couleur" id="couleur" aria-describedby="" placeholder="Blanc" required >
           <div class="invalid-feedback">
            ajouter la couleur
          </div>
         </div>
       </div>
       <div class="form-row">
         <div class="form-group col-md-6">
           <label for="portes">Portes</label>
           <input type="number" class="form-control mt-2" name="portes" id="portes" aria-describedby="" placeholder="3" required  >
           <div class="invalid-feedback">
            ajouter le nombre de portes
          </div>
         </div>
         <div class="form-group col-md-6">
           <label for="places">Places</label>
           <input type="number" class="form-control mt-2" name="places" id="places" aria-describedby="" placeholder="5" required  >
        <div class="invalid-feedback">
          ajouter le nombre de places
        </div>
         </div>
       </div>
       <div class="form-group">
         <label for="actif" class="mt-3">Actif</label>        
         <input type="checkbox" name="actif" id="actif" >
       </div>
      </div>
      <button type="submit" class="btn btn-primary">Ajouter</button>
    </form>
    </div> </div>
    <script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>
<% include ../../partials/footer.ejs %>