<% include ./partials/head.ejs %>
    <script src="js/script.js"></script>

    <body class="bg-dark">
        <header>
            <% include ./partials/header-index.ejs %>
        </header>
        <div class="container bg-light border-top-red mb-5 pb-5 mt-3">
            <h1 class="text-center mt-5 pb-3  border-bottom-red mx-auto">Accueil</h1>


            <div class="container jumbotron bg-transparent mx-auto ">

                <div class="container mx-auto d-flex justify-content-center ">

                    <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                        <div class="panel panel-info ">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    <h3 class="text-left text-uppercase"> Connexion </h3>
                                </div>
                            </div>

                            <div style="padding-top:30px" class="panel-body">

                                <form id="loginform" class="form-horizontal needs-validation p-5" novalidate role="form">

                                    <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fas fa-user mr-3 mt-2 color-dred  p-2 fa-2x"></i>
                                        </span>

                                        <!--  INPUT POUR ENTRER LE NOM D'UTILISATEUR -->
                                        <input id="login-username" type="text" class="form-control" name="username" value="" placeholder="username or email" required>
                                        <div class="invalid-feedback text-center">
                                            Entrez votre "username"
                                        </div>
                                    </div>

                                    <div style="margin-bottom: 25px" class="input-group">
                                        <span class="">
                                                <i class="fas fa-lock mr-3 mt-3 color-dred p-2 fa-2x"></i>
                                        </span>
                                   <!--  INPUT POUR ENTRER LE MOT DE PASSE -->     
                                        <input id="login-password" type="password" class="form-control" name="password" placeholder="password" required>
                                        <div class="invalid-feedback text-center">
                                            Entrez votre mot de passe
                                        </div>
                                    </div>


                                    <div style="margin-top:10px" class="form-group">

                                        <!-- Button -->
                                        <div class="col-sm-12 controls">
                                            <button type="submit" class="btn btn-danger text-uppercase">Login </button>


                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <div class="col-md-12 control">
                                            <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%">
                                                Don't have an account!
                                                <a href="#">
                                                    Sign Up Here
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a href="/voitures/">Accéder à la liste</a>
        </div>
        <script>
            // Validation des champs du formulaire via JavaScript
            (function () {
                'use strict';
                window.addEventListener('load', function () {
                    // Fetch all the forms we want to apply custom Bootstrap validation styles to
                    var forms = document.getElementsByClassName('needs-validation');
                    // Loop over them and prevent submission
                    var validation = Array.prototype.filter.call(forms, function (form) {
                        form.addEventListener('submit', function (event) {

                            if (form.checkValidity() === false) {
                                event.preventDefault();
                                event.stopPropagation();
                            }

                            form.classList.add('was-validated');
                        }, false);
                    });
                }, false);
            })();
        </script>
        <% include ./partials/footer.ejs %>