<% include ./partials/head.ejs %>
<script src="js/script.js"></script>
<body class="bg-dark"> 
    <header>
        <% include ./partials/header.ejs %>
    </header>
    <div class="container bg-light border-top-red mb-5 pb-5 mt-3">
    <!-- NE PAS AJOUTER DE type="button" sur un a quand il y a bootstrap de charger -->
    <!-- Il génère une difference entre chrome et firefox -->
        <a href="voitures/admin/"  class="btn btn-dark mt-3 text-uppercase">Administration </a>
        <h1 class="text-center p-5">Accueil</h1>
        <div class="row mx-auto">
            <% voitures.forEach(function(voiture){ %>
                <% if (voiture.actif === "on"){%> 
                    <div class="col-md-4 pb-3 pt-3 ">
                        <div class="card">
                            <img src="<%= voiture.image %>" class="card-img-top img-fluid">
                            <div class="card-body text-center">
                                <h5 class="font-weight-bold"><%=voiture.marque %></h5>
                                <div class="row justify-content-center">
                                    <!--J'appel ma fonction, qui est dans script.js-->
                                <%=voiture.prix %> EUR
                                </div>
                                <a href="voitures/show/<%= voiture._id %> "  class="btn btn-danger mt-3 text-uppercase">Voir plus</a>
                            </div>
                        </div>
                    </div>
                <% } %>
            <%  }); %>
        </div>
    </div>
    <div class="image">
        <img src="/img/widget21.png">
        <div id="note">
            4.8/5
        </div>
    </div>
<% include ./partials/footer.ejs %>

