<% include ./partials/head.ejs %>
<script src="js/script.js"></script>
<body class="bg-dark"> 
    <header>
        <% include ./partials/header-index.ejs %>
    </header>
    <div class="container bg-light border-top-red mb-5 pb-5 mt-3">
        <h1 class="text-center p-5">Accueil</h1>
        <div class="row mx-auto">
           <a href="/voitures/" >Accéder à la liste</a>
        </div>
    </div>
<% include ./partials/footer.ejs %>

