body {
  /* padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

 /*format uppercase sur les gros titres*/
h5 {
  text-transform: uppercase;
}
h1 {
  text-transform: uppercase;
}


.img-fluid {
  height: 200px !important;
}

.img-fluid-1 {

  height: 400px !important;
}

.color-grey{
  color: lightgray;
}