body {
  /* padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  text-transform: uppercase;
}

 /*format uppercase sur les gros titres*/
h5 {
  text-transform: uppercase;
}
h1 {
  text-transform: uppercase; 
  
}


.img-fluid {
  height: 200px !important;
}

.img-fluid-1 {

  height: 450px !important;
}

.color-grey{
  color: lightgray;
}

.bg-grey{
  background-color: lightgray;
}
.color-dred{
  color: darkred ;
}

.bgblack{
background-color: black;
}
.border-top-red{
border-top: 5px darkred solid;

}
.border-red{
  border: 5px rgb(82, 23, 23) solid;
  
  }

  .border-bt-grey{
    border-bottom: 5px rgb(53, 51, 51) solid;
    
    }
.border-bottom-red{
width:30%;
  border-bottom: 5px darkred solid;
}



header{
background-image: url("/img/speed-1249610_1920.jpg");
height: 200px;
}