body {
  /* padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

 /*format uppercase sur les gros titres*/
h5 {
  text-transform: uppercase;
}
h1 {
  text-transform: uppercase;
}


.img-fluid {
  height: 200px !important;
}

.img-fluid-1 {

  height: 450px !important;
}

.color-grey{
  color: lightgray;
}
.bgblack{
background-color: black;
}
.border-top-red{
border-top: 5px darkred solid;

}
.border-bottom-red{
width:30%;
  border-bottom: 5px darkred solid;
}