<% include ./partials/head.ejs %>
<body>
    <h1>Liste des voitures</h1>
    <ul>
      <% voitures.forEach(function(voiture){ %>
        <li data-id="<%= datas.id %>" class="test">
  
          <%= voiture.Marque %>
        </li>
      <% }); %>
    </ul>       
    <% include ./partials/footer.ejs %>
</body>