<% include ../partials/head.ejs %>
<body>
    <h1>Liste des voitures</h1>
    <ul>
      <% voitures.forEach(function(voiture){ %>
        <li class="test">

          <%= voiture.marque %>
        </li>
      <% }); %>
    </ul>       
    <% include ../partials/footer.ejs %>
</body>